Repository aleksey925/pydantic-settings-vault: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, lock-file-check, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: name-tests-test
        args: ["--pytest-test-first"]

  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        files: ^README.md$

  - repo: https://github.com/asottile/blacken-docs
    rev: 1.18.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.8.0]

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        language: system
        entry: ruff format
        types: [python]

      - id: ruff
        name: ruff
        language: system
        entry: ruff check --fix
        types: [python]

      - id: lock-file-check
        name: lock file check
        language: system
        entry: uv lock --check
        pass_filenames: false
        files: ^(pyproject\.toml|.*\.lock)$

      - id: mypy
        name: mypy
        language: system
        entry: mypy
        pass_filenames: false
        types: [python]
        args: ["src", "tests"]

migrate from poetry to uv and bump minimum python to 3.10 (#22)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  mise.toml
  poetry.lock
  pyproject.toml
  src/pydantic_vault/__init__.py
  src/pydantic_vault/entities.py
  src/pydantic_vault/vault_settings.py
  tests/test_get_vault_client.py
  tests/test_settings_source.py
  uv.lock
Due: ruff-format, ruff, lock-file-check, mypy

add justconf recommendation to README
  README.md
Due: none

add justconf recommendation to README (#23)
  README.md
Due: none

feat: add recursive vault secret collection for nested models
  src/pydantic_vault/vault_settings.py
Due: ruff-format, ruff, mypy

test: add test for recursive secrets fetching
  tests/test_settings_source.py
Due: ruff-format, ruff, mypy

chore: bump versions and update changelog
  CHANGELOG.md
  pyproject.toml
  src/pydantic_vault/__init__.py
Due: ruff-format, ruff, lock-file-check, mypy
